
.form-registro{
    width: 300px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    
}

.form-registro h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #00B059;
    font-family: 'cali';
    color: white;
}

.form-registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}
.form-registro a{
    color: white;
    text-decoration: none;

}
.form-registro a:hover{
    color: white;
    text-decoration: underline;
}

.form-registro .botons{
    width: 100%;
    background: #00B059;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

#comentario {
    height: 100px;
}
