.container{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    position: relative;

}

.card-nosotros{
    margin-top: 100px;
    padding-top: 100px;
}

.card-nosotros{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
   
}

.card-body, .card-header{
    text-align: center;
}

.card.text-bg{
    background-color: #6cdcac;
}